.Effect {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .button {
    width: 100%;

    .box {
      height: 3.5em;
      margin-bottom: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: 2px solid var(--color-deep-blue-20);
      box-shadow: none;

      &.active {
        border-color: var(--color-deep-blue-80);
      }

      .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 6px;
      }
    }
  }
}