.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33383d;
  padding: 16px;
  height: calc(100% - 32px);
  gap: 16px;

  .loading-spinner {
    position: absolute;
  }

  video.primary {
    position: absolute;
    margin: auto;
    width: 100%;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    border-radius: 4px;
  }

  video.secondary {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 20em;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }

  .no-active-call{
    color: white;
  }

  .self-view {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 22%;
    min-width: 300px;
    cursor: pointer;
    
    .Video {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .Toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .Toastify {
    text-align: center;

    &>div {
      width: auto;

      &>div {
        border-radius: 3em;
        padding-left: 2em;
        padding-right: 2em;
        min-height: 2em;
        
        &>button {
          display: none;
        }
      }
    }
  }
}